<div id="rsvp-area">
  <%= form_for(@rsvp, :validate => true, :remote => true, :html => {:'data-type' => 'json', :'data-update-target' => "rsvp-area", }) do |f| %>
    <% if @rsvp.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@rsvp.errors.count, "error") %> prohibited this rsvp from being saved:</h2>

        <ul>
        <% @rsvp.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <p><%= f.label :name, :class => "label_question" %></p>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <p><%= f.label :email, :class => "label_question" %></p>
      <%= f.text_field :email, :validate => { :uniqueness => false } %>
      <p id="status-message" ></p>
    </div>
    <div class="field">
      <p><%= f.label "Will you come to the Wedding?", :class => "label_question" %></p>
      <%= f.radio_button :presence_wedding, true %> Yes, I've been waiting for 5 years! <br>
      <%= f.radio_button :presence_wedding, false %> No, I waited too long. 
    </div>
    <div class="field">
      <p><%= f.label "Will you also come to the party on Saturday night?", :class => "label_question" %></p>
      <%= f.radio_button :presence_party, true %> Yes, I AM the party.  <br>
      <%= f.radio_button :presence_party, false %> No, I'm lame.  
    </div>
    <div class="field">
      <p><%= f.label :quantity, "How many people will come?", :class => "label_question" %></p>
      <%= f.number_field :quantity %>
    </div>
    <div class="field">
      <%= f.submit "Send RSVP", :disable_with => 'Saving .....' %>
    </div>
  <% end %>
</div>

<script type="text/javascript">

  $(document).ready(function(){

    var presence_msg = ""

    $('form[data-update-target]')
      .live('ajax:success', function(data, status, xhr) {
        var target = $(this).data('update-target');
        var response = "";

        if (status.presence_wedding) {
          response = "<h3>Thanks " + status.name + "!<br>We can't wait to party with you! :)</h3>";
        }
        else {
          response = "<h3>Bummer! Are you really sure you don't want to come? You will be missed. :(</h3>";
        }
        $('#' + target).html(response);
      })
      .live('ajax:error', function(xhr, status, error) {
        var errors = $.parseJSON(status.responseText);
        if (errors.email != undefined && errors.email == "has already been taken") {
          var target = $(this).data('update-target');
          var response = "<p>You already RSVP. If you would like to update your status, please contact Leah or Guillermo.</p>";
          $('#' + target).html(response);
        }
    });

    $("input#rsvp_email").verimail({
      denyTempEmailDomains: true,
      messageElement: "p#status-message",
      language: 'ptbr'
    });

  });

</script>