<div id="message_presence" class="rsvp_messages">
  <h3><%= t("rsvp.messages.presence_html") %></h3>
</div>
<div id="message_absence" class="rsvp_messages">
  <h3><%= t("rsvp.messages.absence_html") %></h3>
</div>
<div id="message_already_rsvp" class="rsvp_messages">
  <h3><%= t("rsvp.messages.already_rsvp_html") %></h3>
</div>

<div id="rsvp-area">
  <%= form_for(@rsvp, :validate => true, :remote => true, :html => {:'data-type' => 'json', :'data-update-target' => "rsvp-area", }) do |f| %>
    <% if @rsvp.errors.any? %>
      <div id="error_explanation">
        <h2>Ops!</h2>

        <ul>
        <% @rsvp.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <p><%= f.label :name, t("rsvp.form.name"), :class => "label_question" %></p>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <p><%= f.label :email, t("rsvp.form.email"), :class => "label_question" %></p>
      <%= f.text_field :email, :validate => { :uniqueness => false } %>
      <p id="status-message" ></p>
    </div>
    <div class="field">
      <p><%= f.label t("rsvp.form.question-wedding"), :class => "label_question" %></p>
      <%= f.radio_button :presence_wedding, true %> <%= t("rsvp.form.answer-wedding-yes") %><br>
      <%= f.radio_button :presence_wedding, false %> <%= t("rsvp.form.answer-wedding-no") %> 
    </div>
    <div class="field">
      <p><%= f.label t("rsvp.form.question-party"), :class => "label_question" %></p>
      <%= f.radio_button :presence_party, true %> <%= t("rsvp.form.answer-party-yes") %><br>
      <%= f.radio_button :presence_party, false %> <%= t("rsvp.form.answer-party-no") %>
    </div>
    <div class="field">
      <p><%= f.label :quantity, t("rsvp.form.question-how-many"), :class => "label_question" %></p>
      <%= f.number_field :quantity %>
    </div>
    <div class="field">
      <%= f.submit t("rsvp.form.button"), :disable_with => t("rsvp.form.button-processing") %>
    </div>
  <% end %>
</div>
