<%= form_for(@rsvp, :id => "search_form") do |f| %>
  <% if @rsvp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rsvp.errors.count, "error") %> prohibited this rsvp from being saved:</h2>

      <ul>
      <% @rsvp.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
    <p id="status-message" ></p>
  </div>
  <div class="field">
    Will you come to the Wedding?<br />
    <%= f.radio_button :presence_wedding, true %> Absolutely!<br>
    <%= f.radio_button :presence_wedding, false %> I won't be able to go unfortunately. :(
  </div>
  <div class="field">
    Will you also come to the party on Saturday night?<br />
    <%= f.radio_button :presence_party, true %> Oh yeah! I'm actually only coming because of the party.<br>
    <%= f.radio_button :presence_party, false %> No. I'm so boring that I will stay at my hotel room watching cable TV.
  </div>
  <div class="field">
    <%= f.label :quantity, "How many people will come?" %><br />
    <%= f.number_field :quantity %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<style type="text/css">
      div#email-container > h1 {
        margin-bottom: 30px;
      }
      
      input#rsvp_email.verimail-success {
        background: transparent url('/assets/success.png') no-repeat center right;
      }
      input#rsvp_email.verimail-error {
        background: transparent url('/assets/error.png') no-repeat center right;
      }
      input#rsvp_email.verimail-pending {
        background: transparent url('/assets/pending.gif') no-repeat center right;
      }

      p#status-message span.success {
        color: green;
      }
      p#status-message span.error {
        color: red;
      }
      p#status-message span.correction {
        font-weight: bold;
      }
    </style>

<script>
      $(document).ready(function(){
        $("input#rsvp_email").verimail({
          denyTempEmailDomains: true,
          messageElement: "p#status-message",
          language: 'ptbr'
        });
      });
    </script>