    <div id="header">
    </div>
    
    <div class="containerCenter">
        <div id="flag">
            <% if portuguese? %>
                <a href="/" title="Site in Engligh"><img src="/assets/icons/usflag.png"></a>
            <% else %>
                <a href="/pt-BR" title="Site em Português"><img src="/assets/icons/brflag.png"></a>
            <% end %>
        </div>
    </div>

    <div class="containerCenter">
        <div id="go_home">
            <a href="#header" title="Home"><img src="/assets/icons/home.png"></a>
        </div>
    </div>
  
    <div id="home">
    
        <div id="home_title">
            <h1>Leah<span>&</span>Gui</h1>
        </div>

        <div id="home_date" >
            <span><%= t("wedding.date") %></span>
            <span class="smaller"><%= t("location") %></span>
        </div>

        <p><%= t("verse") %></p>

        <div id="homenav">
            <ul class="navigation">
                <li><a class="hastip couple" title="<%= t("areas.about-us") %>" href="#area_couple"><%= t("areas.about-us") %></a></li>
                <li><a class="hastip wedding" title="<%= t("areas.wedding") %>" href="#area_wedding"><%= t("areas.wedding") %></a></li>
                <li><a class="hastip preparty" title="<%= t("areas.warm-up") %> " href="#area_preparty"><%= t("areas.warm-up") %> </a></li>
                <li><a class="hastip photos" title="<%= t("areas.photos") %>" href="#area_photos"><%= t("areas.photos") %></a></li>
                <li><a class="hastip hotels" title="<%= t("areas.hotels") %>" href="#area_hotels"><%= t("areas.hotels") %></a></li>
                <li><a class="hastip whattodo" title="<%= t("areas.what-to-do") %>" href="#area_whattodo"><%= t("areas.what-to-do") %></a></li>
                <li><a class="hastip registry" title="<%= t("areas.registry") %>" href="#area_registry"><%= t("areas.registry") %></a></li>
                <li><a class="hastip rsvp" title="<%= t("areas.rsvp") %>" href="#area_rsvp"><%= t("areas.rsvp") %></a></li>
            </ul>            
        </div>

        <div class="arrow_container">
            <a href="#area_couple" class="arrow" title="Down"><img class="" src="/assets/icons/arrow_down.png" /></a>
        </div>
        
    </div>
    
    <div class="spacing">
    </div>
    
    <div id="couple">
        <a name="area_couple" id="area_couple"></a>

        <div class="title">
            <h2><%= t("areas.about-us") %></h2>
        </div>

        <div class="content">
            <%= t("about-us.text_html") %>
            
        </div>

        <div class="arrow_container">
            <a href="#header" class="arrow" title="Up"><img class="" src="/assets/icons/arrow_up.png" /></a>
            <a href="#area_wedding" class="arrow" title="Down"><img class="" src="/assets/icons/arrow_down.png" /></a>
        </div>
    </div>
    
    <div class="spacing">
    </div>
    
    <div id="wedding">
        <a name="area_wedding" id="area_wedding"></a>

        <div class="title">
          <h2><%= t("areas.wedding") %></h2>
        </div>

        <div class="content">

            <div class="wedding_block">

                <iframe width="350" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=4203+E+Hazelwood+St,+Phoenix,+AZ+85018&amp;aq=&amp;sll=33.504846,-112.000778&amp;sspn=0.017803,0.037594&amp;ie=UTF8&amp;hq=&amp;hnear=4203+E+Hazelwood+St,+Phoenix,+Maricopa,+Arizona+85018&amp;t=m&amp;ll=33.503686,-111.990337&amp;spn=0.021471,0.025749&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=4203+E+Hazelwood+St,+Phoenix,+AZ+85018&amp;aq=&amp;sll=33.504846,-112.000778&amp;sspn=0.017803,0.037594&amp;ie=UTF8&amp;hq=&amp;hnear=4203+E+Hazelwood+St,+Phoenix,+Maricopa,+Arizona+85018&amp;t=m&amp;ll=33.503686,-111.990337&amp;spn=0.021471,0.025749&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>

            </div>

            <div class="wedding_block wedding_details">
                <p><%= t("wedding.description") %></p>

                <p class="real_info">
                    <%= t("sunday") %>, <%= t("wedding.date") %><br>
                    <%= t("wedding.ceremony") %><br>
                </p>

                <p><%= t("wedding.address") %></p>
                <p class="real_info">
                    4203 E. Hazelwood St.<br>
                    Phoeniz, AZ, 85018
                </p>

                <p>
                    <span style="background-color: yellow;"><%= t("wedding.rsvp_phrase") %> <a href="#area_rsvp" title="RSVP"><%= t("wedding.rsvp_message") %></a>.</span>
                </p>
            </div>


        </div>

        <div class="arrow_container">
            <a href="#area_couple" class="arrow" title="Up"><img class="" src="/assets/icons/arrow_up.png" /></a>
            <a href="#area_preparty" class="arrow" title="Down"><img class="" src="/assets/icons/arrow_down.png" /></a>
        </div>

    </div>
    
    <div class="spacing">
    </div>

    <div id="preparty">
        <a name="area_preparty" id="area_preparty"></a>

        <div class="title">
            <h2><%= t("areas.warm-up") %> </h2>
        </div>

        <div class="content">

            <div class="wedding_block">

                <iframe width="350" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=4203+E+Hazelwood+St,+Phoenix,+AZ+85018&amp;aq=&amp;sll=33.504846,-112.000778&amp;sspn=0.017803,0.037594&amp;ie=UTF8&amp;hq=&amp;hnear=4203+E+Hazelwood+St,+Phoenix,+Maricopa,+Arizona+85018&amp;t=m&amp;ll=33.503686,-111.990337&amp;spn=0.021471,0.025749&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=4203+E+Hazelwood+St,+Phoenix,+AZ+85018&amp;aq=&amp;sll=33.504846,-112.000778&amp;sspn=0.017803,0.037594&amp;ie=UTF8&amp;hq=&amp;hnear=4203+E+Hazelwood+St,+Phoenix,+Maricopa,+Arizona+85018&amp;t=m&amp;ll=33.503686,-111.990337&amp;spn=0.021471,0.025749&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>

            </div>

            <div class="wedding_block wedding_details">
                <p><%= t("warm-up.description") %></p>

                <p class="real_info">
                    <%= t("saturday") %>, <%= t("warm-up.date") %><br>
                    <%= t("warm-up.time") %><br>
                </p>

                <p><%= t("warm-up.address") %></p>
                <p class="real_info">
                    4203 E. Hazelwood St.<br>
                    Phoeniz, AZ, 85018
                </p>

            </div>
           
        </div>

        <div class="arrow_container">
            <a href="#area_wedding" class="arrow" title="Up"><img class="" src="/assets/icons/arrow_up.png" /></a>
            <a href="#area_photos" class="arrow" title="Down"><img class="" src="/assets/icons/arrow_down.png" /></a>
        </div>

    </div>
    
    <div class="spacing">
    </div>

    <div id="photos">
        <a name="area_photos" id="area_photos"></a>

        <div class="title">
            <h2><%= t("areas.photos") %></h2>
        </div>

        <div class="content">

            <div class="foto_test">
                <a href='/assets/photos/DSC01137.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img title="" src="/assets/photos/DSC01137_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/IMG_9778.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/IMG_9778_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/IMG_9174.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/IMG_9174_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/IMG_8659.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/IMG_8659_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/IMG_8131.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/IMG_8131_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/IMG_8043.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/IMG_8043_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/IMG_7530.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/IMG_7530_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/IMG_7408.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/IMG_7408_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/IMG_7136.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/IMG_7136_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/IMG_6950.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/IMG_6950_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/IMG_6846.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/IMG_6846_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/IMG_4988.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/IMG_4988_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/IMG_4981.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/IMG_4981_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/IMG_4730.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/IMG_4730_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/IMG_4698.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/IMG_4698_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/IMG_4473.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/IMG_4473_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/IMG_4458.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/IMG_4458_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/IMG_4179.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/IMG_4179_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/IMG_4088.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/IMG_4088_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/IMG_3990.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/IMG_3990_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/IMG_3855.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/IMG_3855_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/IMG_3828.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/IMG_3828_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/IMG_3673.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/IMG_3673_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/IMG_3207.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/IMG_3207_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/IMG_3191.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/IMG_3191_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/IMG_3125.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/IMG_3125_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/IMG_3010.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/IMG_3010_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/IMG_2868.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/IMG_2868_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/IMG_2723.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/IMG_2723_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/IMG_2355.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/IMG_2355_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/IMG_2287.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/IMG_2287_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/IMG_1668.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/IMG_1668_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/IMG_1602.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/IMG_1602_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/IMG_1500.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/IMG_1500_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/IMG_1381.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/IMG_1381_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/IMG_1331.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/IMG_1331_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/IMG_1289.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/IMG_1289_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/IMG_1257.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/IMG_1257_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/IMG_1249.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/IMG_1249_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/IMG_1179.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/IMG_1179_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/IMG_0291.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/IMG_0291_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/IMG_0251.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/IMG_0251_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/IMG_0248.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/IMG_0248_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/IMG_0245.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/IMG_0245_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/IMG_0146.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/IMG_0146_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/IMG_0135.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/IMG_0135_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/IMG_0129.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/IMG_0129_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/DSC03374.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/DSC03374_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/DSC03198.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/DSC03198_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/DSC03197.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/DSC03197_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/DSC02931.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/DSC02931_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/DSC02919.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/DSC02919_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/DSC02914.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/DSC02914_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/DSC01956.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/DSC01956_small.jpg" />
                </a>
            </div>
            <div class="foto_test">
                <a href='/assets/photos/DSC01650.jpg' class='fresco' data-fresco-group='photos' data-fresco-caption="">
                    <img src="/assets/photos/DSC01650_small.jpg" />
                </a>
            </div>


            

        </div>

        <div class="clear arrow_container">
            <a href="#area_preparty" class="arrow" title="Up"><img class="" src="/assets/icons/arrow_up.png" /></a>
            <a href="#area_hotels" class="arrow" title="Down"><img class="" src="/assets/icons/arrow_down.png" /></a>
        </div>

    </div>
    
    <div class="spacing">
    </div>
    
    <div id="hotels">
        <a name="area_hotels" id="area_hotels"></a>
        
        <div class="title">
          <h2><%= t("areas.hotels") %></h2>
        </div>
        
        <div class="content">
            
            <div id="listhotel">
            
                <div class="hotel_block">
                  <img src="/assets/hotels/courtyard.png" title="Courtyard Phoenix Camelback" />
                  <p class="h2">Courtyard Phoenix Camelback</p>
                    <p class="h4">
                        2101 East Camelback Road<br>
                        Phoenix, Arizona, 85016<br>
                        <a href="tel:1-602-955-5200" title="Call Courtyard Phoenix Camelback">1-602-955-5200</a>
                    </p>
                    <p><a href="http://www.marriott.com/hotels/travel/phxcc-courtyard-phoenix-camelback/" target='_blank'>Courtyard Phoenix Camelback</a></p>
                </div>
                
                <div class="hotel_block">
                  <img src="/assets/hotels/hamptoninn.png" title="Hampton Inn Phoenix-Biltmore" />
                  <p class="h2">Hampton Inn Phoenix-Biltmore</p>
                    <p class="h4">
                        2310 East Highland Avenue<br>
                        Phoenix, Arizona, 85016<br>
                        <a href="tel:1-602-956-5221" title="Call Hampton Inn Phoenix-Biltmore">1-602-956-5221</a>
                    </p>
                    <p><a href="http://hamptoninn3.hilton.com/en/hotels/arizona/hampton-inn-phoenix-biltmore-PHXEHHX/index.html" target='_blank'>Hampton Inn Phoenix-Biltmore</a></p>
                </div>
                
                <div class="hotel_block">
                  <img src="/assets/hotels/bestwestern.png" title="Best Western Plus Sundial<" />
                  <p class="h2">Best Western Plus Sundial</p>
                    <p class="h4">
                        7320 E Camelback Road<br>
                        Scottsdale, Arizona, 85251-3404<br>
                        <a href="tel:1-480-994-4170" title="Call Best Western Plus Sundial">1-480-994-4170</a>
                    </p>
                    <p><a href="http://bestwesternarizona.com/hotels/best-western-plus-sundial" target='_blank'>Best Western Plus Sundial</a></p>
                </div>
                
            </div>

            <div class="clear spacing_top">
                <p><%= t("hotels.other-options") %></p>
                <a href="http://www.kayak.com/" target="blank">Kayak</a> <br>
                <a href="http://www.hotwire.com/" target="blank">Hotwire</a>
            </div>
            
        </div>
        
        <div class="arrow_container">
            <a href="#area_photos" class="arrow" title="Up"><img class="" src="/assets/icons/arrow_up.png" /></a>
            <a href="#area_whattodo" class="arrow" title="Down"><img class="" src="/assets/icons/arrow_down.png" /></a>
        </div>

    </div>
       
    <div class="spacing">
    </div>
    
    <div  id="whattodo">
        <a name="area_whattodo" id="area_whattodo"></a>

        <div class="title">
            <h2><%= t("areas.what-to-do") %></h2>
        </div>

        <div id="content">
            
            Coming soon.
    
        </div>

        <div class="arrow_container">
            <a href="#area_hotels" class="arrow" title="Up"><img class="" src="/assets/icons/arrow_up.png" /></a>
            <a href="#area_registry" class="arrow" title="Down"><img class="" src="/assets/icons/arrow_down.png" /></a>
        </div>

    </div>
    
    <div class="spacing">
    </div>

    <div id="registry">
        <a name="area_registry" id="area_registry"></a>

        <div class="title">
            <h2><%= t("areas.registry") %></h2>
        </div>

        <div class="content">

            <p><%= t("registry.description") %></p>
            
            <ul class="registry">
                <li>
                    <a href="http://goo.gl/SydKr" target="_blank">
                        <img title="<%= t("registry.registry-site") %> Amazon" src="/assets/icons/amazon.png" />
                        <p><%= t("registry.go-to-amazon") %></p>
                    </a>
                </li>
                <li>
                    <a href="http://goo.gl/RcUaD" target="_blank">
                        <img title="<%= t("registry.registry-site") %> Crate and Barrel" border="0" src="/assets/icons/crateandbarrel.png" />
                        <p><%= t("registry.go-to-crateandbarrel") %></p>
                    </a>
                </li>
                <li>
                    <a href="http://goo.gl/Rjuwr" target="_blank">
                        <img title="<%= t("registry.registry-site") %> Sur La Table" border="0" src="/assets/icons/surlatable.png" />
                        <p><%= t("registry.go-to-surlatable") %></p>
                    </a>
                </li>
            </ul>

            <% if portuguese? %>
                <p class="clear spacing_top"><%= t("registry.special-message-portuguese_html") %></p>
            <% end %>

            <p class="clear spacing_top"><%= t("registry.address") %></p>
            <p class="real_info">
            Leah Gregory<br>
            11983 North 136th Way<br>
            Scottsdale, Arizona, USA<br>
            85259<br>
            </p>

        </div>

        <div class="arrow_container">
            <a href="#area_whattodo" class="arrow" title="Up"><img class="" src="/assets/icons/arrow_up.png" /></a>
            <a href="#area_rsvp" class="arrow" title="Down"><img class="" src="/assets/icons/arrow_down.png" /></a>
        </div>

    </div>
    
    <div class="spacing">
    </div>
    
    <div id="rsvp">
        <a name="area_rsvp" id="area_rsvp"></a>
        
        <div class="title">
            <h2><%= t("areas.rsvp") %></h2>
        </div>

        <div class="content">
            
            <div id="rsvpform">
              
              <%= render 'form' %>

            </div>
            
            <div id="contact">
              <p><%= t("rsvp.contact-info") %></p>
                <a href="mailto:gguerini@gmail.com">Guillermo</a><br>
                <a href="mailto:leah@leahgregory.met">Leah</a>
            </div>
        
        </div>

        <div class="arrow_container">
            <a href="#area_registry" class="arrow" title="Up"><img class="" src="/assets/icons/arrow_up.png" /></a>
        </div>
       
    </div>
    
    <div id="footer" style="display: block">
        <div class="footer_wrapper">
            <div class="footer_block">
                <p class="details"><%= t("title") %></p>
                <%= t("sunday") %>, <%= t("wedding.date") %> <%= t("wedding.time") %><br>
                4203 E. Hazelwood St.<br>
                Phoeniz, AZ, 85018
            </div>
            <div class="footer_block links">
                <ul>
                    <li><a href="#header">Home</a></li>
                    <li><a href="#area_couple"><%= t("areas.about-us") %></a></li>
                    <li><a href="#area_wedding"><%= t("areas.wedding") %></a></li>
                    <li><a href="#area_preparty"><%= t("areas.warm-up") %> </a></li>
                    <li><a href="#area_photos"><%= t("areas.photos") %></a></li>
                    <li><a href="#area_hotels"><%= t("areas.hotels") %></a></li>
                    <li><a href="#area_whattodo"><%= t("areas.what-to-do") %></a></li>
                    <li><a href="#area_registry"><%= t("areas.registry") %></a></li>
                    <li><a href="#area_rsvp"><%= t("areas.rsvp") %></a></li>
                </ul>
            </div>
        </div>
    </div>