<!DOCTYPE html>
<html>
<head>
  <title><%= t("title") %> - <%= t("wedding.date") %> - <%= t("location") %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link href='http://fonts.googleapis.com/css?family=Cutive+Mono&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <%= javascript_include_tag 'html5shiv' %>
  <![endif]-->
</head>
<body>

  <%= yield %>

<%= render 'rsvps/analytics' unless Rails.env.development? %>

</body>
</html>
